.idea
*.iml
.svn
.project
.classpath
.settings
build.properties

target/
bin/
output/
__pycache__
data/*Variants/
src/test/resources/results/

*/latex/*.aux
*/latex/*.bbl
*/latex/*.blg
*/latex/*.log
*/latex/*.out
*/latex/*.synctex.gz
local-maven-repo/org/variantsync/trace-boosting
local-maven-repo/org/variantsync/boosting/trace-boosting
